body
{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
}

.background_image{
  position: relative;
  height:900px;
  width: 100%;
  background-image: url("cycle1.jpg");
  background-size: 100%;
  background-attachment: fixed;
  opacity: 0.5;
}
li{
  float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;

}
li a:hover {
    background-color: #111;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.container
{
  color: #C0B283;
  width:350px;
  height: 740px;
  position: absolute;
  top: 90px;
  right: 10px;
  border: 2px solid #333;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-right: 50px;
  padding-bottom: 40px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.sbutton
{
  color: white;
  background-color: #4caf50;
  padding: 10px 24px;
  border: none;
  text-align: center;
  font-size: 15px;
  border-radius: 6px;
}
.sbutton:hover
{
  background-color: #3e8e41
}
.sbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
label
{
  font-size: 20px;
}
.container input
{
  border-radius: 6px;
  height: 30px;
  border: none;
}
