body{
  background-color: gray;
  font-family: 'PT Sans', sans-serif;
}
.page_content_container
{
  background-color: white;
  position: relative;
  left:150px;
  width: 1000px;
  height: 750px;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 15px;
  display: inline-flex;
}
.image
{
  position: relative;
  left: 150px;
  width: 1040px;
  height: 400px;
}
#_h1
{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  left: 200px;
  top: 10px;
  font-size: 40px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: serif;
}
.left_col
{
  width: 740px;
  height: 600px;
  text-align: justify;
}
.right_col
{
  float: right;
  width: 250px;
  height: 400px;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 49px;
  margin-left: 10px;
  text-align: justify;
  background-color: #d6dbe0;

}
