body{
  font-family: 'Satisfy', cursive;
  color: #3f3f3f;
  line-height: 1.625;
  background-color: #e5e5e5;
}
h1{
  font-weight:normal;
  padding-left: 30px;
}
h2{
  font-weight: normal;
}
p{
  padding-left: 35px;
}
h4{
  font-weight: normal;
  padding-left: 40px;
}
p#p3{
  font-style: italic;
}
p#p2{
 text-align: center;;
  font-style: italic;
  font-size: 24px;
  color: gray;
  font-weight: normal;
}
i
{
  font-size:24px;
  font-style: italic;
  color: #2a2a2a;

}
.page_content_container
{

  position: relative;
  display: inline-flex;
  left: 110px;

}
.left_col{
  margin-top: 30px;
  margin-left: 30px;
  width: 650px;
  height: 1400px;
  padding: 30px;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;


}
.right_col{

  width: 420px;
  height: 800px;
  position: relative;

  margin: 20px;
}
.box_1{
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px #a8a8a8;
  width: 350px;
  height: 200px;
  padding: 20px;
  margin-top: 20px;

  margin-left: 35px;
  margin-right: 20px;

}
.box_2{
  box-sizing: border-box;

  box-shadow: 3px 3px 3px 3px #a8a8a8;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 240px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 10px;
}
.box_3{
  box-sizing: border-box;

  box-shadow: 3px 3px 3px 3px #a8a8a8;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 480px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 20px;
}

.bg_color
{
  width: 280px;
  height: 67px;

  position: relative;
  display: inline-flex;
  padding:10px;

}
.bgc_1
{
  width: 60px;
  height: 60px;
  background-color: #eed2ee;
}

.bgc_2{
  position: absolute;
  left: 80px;
  width: 60px;
  height: 60px;
  background-color: #dcd0c0;
}
.bgc_3{
  position: absolute;
  left: 150px;
  width: 60px;
  height: 60px;
  background-color: #bfd8d2;
}
.bgc_4{
  position: absolute;
  left: 220px;
  width: 60px;
  height: 60px;
  background-color: #b4dbc0;
}
.text_color
{
  width: 280px;
  height: 67px;

  position: relative;
  display: inline-flex;
  padding:10px;

}

.tc_1
{
  width: 60px;
  height: 60px;
  background-color: #373737;
}

.tc_2{
  position: absolute;
  left: 80px;
  width: 60px;
  height: 60px;
  background-color: #cc4e5c;
}
.tc_3{
  position: absolute;
  left: 150px;
  width: 60px;
  height: 60px;
  background-color: #4f2f4f;
}
.tc_4{
  position: absolute;
  left: 220px;
  width: 60px;
  height: 60px;
  background-color: #4d4d4d;
}

.font_size
{
  width: 280px;
  height: 67px;

  position: relative;
  display: inline-flex;
  padding:10px;

}
button{
  border: none;
  padding:10px;
  border-radius: 6px;
  background-color: teal;
  color: white;

}
button:hover{
    background-color: gray;
}


.small_btn{
  font-size: 12px;
  position: absolute;
  top: 32px;

}
.medium_btn{
  font-size: 20px;
  position: absolute;
  left: 80px;
  top: 26px;

}
.large_btn{
  position: absolute;
  font-size: 30px;
  left: 190px;
  top: 16px;
}
